

.center {
  margin: 0;
  position: relative;
  top: 50%;
  left: 85%;
  right: 100%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}




.container-fluid {
  margin-top: 2%;
  height: 150px;
  width: 100%;
  position: relative;
  border: 15px solid rgb(28, 0, 128);
  background-color: rgb(52, 60, 68);
}

