input:invalid {
  border-color: red;
}
button {
  margin-right: 20px;
  vertical-align: text-top;
}

.divRegistro{
  text-align:center;

}

.registrarse {

  cursor: pointer;
}

.registrarse:hover{
  color: blue;
}

