<div class="mt-4 ml-4">
  <a href="https://www.um.es/web/informatica/" target="_blank">
    <img src="https://www.um.es/image/layout_set_logo?img_id=175281&t=1618312474577" width="350"  height="150">
  </a>
</div>

<div class="col d-flex align-items-center justify-content-center mt-5">
  <a href="https://blog.enzymeadvisinggroup.com/natural-language-processing" target="_blank">
    <img src="https://miro.medium.com/max/1838/1*OEmWDt4eztOcm5pr2QbxfA.png" width="2000"  height="700">
  </a>
</div>
